<!DOCTYPE html>
<html lang="en">
<head>

    {% block head %}

    <!-- If these javascript files are not loaded in this order then the page will have odd issues. -->

    <!-- Load jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Disable AJAX for jQuery Mobile because Google Maps Autocomplete API will not work correctly otherwise. --> 
    <script src="{{ url_for('static', filename='disable_jquery_mobile_ajax.js') }}"></script>

    <!-- Load jQuery Mobile after loading jQuery -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>

    {% block google_recaptcha %}
    {% endblock %}

    {% block youtube_autocomplete %}
    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    {% endblock %}

    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
    {% endblock %}

</head>
<body>

    {% block header %}
    <div data-role="header">
        <h4>{{ page_name }}</h4>
        <!--<div data-role="navbar">
            <ul>
                <li><a href="/">Request Music</a></li>
            </ul>
        </div>-->
     </div>
     <br>
    {% endblock %}
    
    {% block content %}
    <div data-role="content">

    </div>
    {% endblock %}

    {% block footer %}
    <!--<div data-role="footer">
        <div data-role="navbar">
            <ul>
                <li><a href="/player">Start Player</a></li>
                <li><a href="/register">Register Your Establishment</a></li>
            </ul>
        </div>
     </div>-->
     {% endblock %}

    {% block google_maps_places_api %}
    {% endblock %}

</body>
