<!DOCTYPE html>
<html>
<head>
  <!-- Load jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
</head>
  <body>
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div id="player"></div>
    <div id="overlay">
        <div id="overlay-1"></div>
        <div id="overlay-2"></div>
        <div id="overlay-3"></div>
        <div id="overlay-4"></div>
        <!-- <div id="overlay-5"></div> -->
    </div>

    <script>

      var playingUrl = window.location.pathname + '/playing';
      var nextUrl = window.location.pathname + '/next';
      var skipUrl = window.location.pathname + '/skip';
      var requestsUrl = window.location.pathname + '/requests';
      var yeiUrl = window.location.pathname + '/yei';
      var playingVideo;
      var countdownVideoId = "rzfmZC3kg3M";
      var performer;
      var requested_by;
      var yei_points;

      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      var player;
      var nextVideo;

      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          videoId: '',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange,
            'onError': onPlayerError
          },
          playerVars: {
            'wmode': 'opaque',
            'autoplay': 1,
            'enablejsapi': 1,
            'iv_load_policy': 0,
            'modestbranding': 1,
          }
        });
      }

      function onPlayerReady(event) {
        playNextVideo();
      }

      function onPlayerError(event) {
        var url = new URL(player.getVideoUrl());
        playingVideo = url.searchParams.get("v");
        $.get(playingUrl + '/' + playingVideo, {});
        playNextVideo();
      }

      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING) {
          var url = new URL(player.getVideoUrl());
          if (url.searchParams.get("v") != playingVideo) {
            playingVideo = url.searchParams.get("v");
            if (playingVideo != countdownVideoId) {

                if ((typeof performer == "undefined" || performer == '') && (typeof requested_by == "undefined" || requested_by == '')) {
                    document.getElementById("overlay-2").innerHTML = player.getVideoData().title;
                    document.getElementById("overlay-3").innerHTML = "Visit pulsepicks.net To Make A Request!";
                }

                else {

                    if (player.getVideoData().title.includes(" - ")) {
                        document.getElementById("overlay-2").innerHTML = performer + " - " + player.getVideoData().title.split(" - ")[1];
                    }

                    else {
                        document.getElementById("overlay-2").innerHTML = performer + " performing " + player.getVideoData().title;
                    }

                    if (typeof requested_by == "undefined" || requested_by == '') {
                      document.getElementById("overlay-3").innerHTML = document.getElementById("overlay-2").innerHTML;
                    }

                    else {
                      document.getElementById("overlay-3").innerHTML = "Requested by " + requested_by;
                    }

                    performer = undefined;
                    requested_by = undefined;
                }

                document.getElementById("overlay-1").style.top = "4.5%"
                document.getElementById("overlay-1").style.fontSize = "100%"
                document.getElementById("overlay-2").style.top = "4.5%"
                document.getElementById("overlay-2").style.fontSize = "100%"
                document.getElementById("overlay-3").style.top = "4.5%"
                document.getElementById("overlay-3").style.fontSize = "100%"
                document.getElementById("overlay-4").style.top = "4.5%"
                document.getElementById("overlay-4").style.fontSize = "100%"
                //document.getElementById("overlay-5").style.top = "4.5%"
                //document.getElementById("overlay-5").style.fontSize = "100%"

            }   

            else {
                if (typeof performer == "undefined" || performer == '') {
                  document.getElementById("overlay-1").innerHTML = "Time for karaoke!";
                  document.getElementById("overlay-2").innerHTML = "Time for karaoke!";
                  document.getElementById("overlay-3").innerHTML = "Time for karaoke!";
                  document.getElementById("overlay-4").innerHTML = "Time for karaoke!";
                  //document.getElementById("overlay-5").innerHTML = "Time for karaoke!";
                }
                else {
                  document.getElementById("overlay-1").style.top = "50%"
                  document.getElementById("overlay-1").style.fontSize = "375%"
                  document.getElementById("overlay-2").style.top = "50%"
                  document.getElementById("overlay-2").style.fontSize = "375%"
                  document.getElementById("overlay-3").style.top = "50%"
                  document.getElementById("overlay-3").style.fontSize = "375%"
                  document.getElementById("overlay-4").style.top = "50%"
                  document.getElementById("overlay-4").style.fontSize = "375%"
                  //document.getElementById("overlay-5").style.top = "50%"
                  //document.getElementById("overlay-5").style.fontSize = "375%"
                  document.getElementById("overlay-1").innerHTML = "Calling up " + performer + " to perform!";
                  document.getElementById("overlay-2").innerHTML = "Calling up " + performer + " to perform!";
                  document.getElementById("overlay-3").innerHTML = "Calling up " + performer + " to perform!";
                  document.getElementById("overlay-4").innerHTML = "Calling up " + performer + " to perform!";
                  //document.getElementById("overlay-5").innerHTML = "Calling up " + performer + " to perform!";
                }
            }
            $.get(playingUrl + '/' + playingVideo, {});
          }
        }

        if (event.data == YT.PlayerState.ENDED) {
          playNextVideo();
        }
      }

      function playNextVideo() {
        $.getJSON(nextUrl, {
        })
        .done(function( json ) {
            if (json.mode == "karaoke" && playingVideo != countdownVideoId && typeof json.performer != "undefined") {
                if (typeof json.performer != "undefined") { performer = json.performer; }
                if (typeof json.requested_by != "undefined") { requested_by = json.requested_by; }
                player.loadVideoById(countdownVideoId);
                player.playVideo();
            }
            else {
                document.getElementById("overlay-1").innerHTML = "Visit pulsepicks.net To Make A Request!";
                player.loadVideoById(json.video_id);
                player.playVideo();
              }
        })
      }

      function skipVideo() {
        $.getJSON(skipUrl + '/' + playingVideo, {
        })
        .done(function( json ) {
          if (json.value == true) {
            playNextVideo();
          }
        })
      }

      function requests() {
        $.getJSON(requestsUrl, {
        })
        .done(function( json ) {
          if (json.value == true) {
            if (typeof json.performer != "undefined") { document.getElementById("overlay-4").innerHTML = "Up Next: " + json.performer + " Peforming " + json.title; }
            else { document.getElementById("overlay-4").innerHTML = "Up Next: " + json.title; }
          }
          else { document.getElementById("overlay-4").innerHTML = "Make A Request And It Will Play Next!"; }
          }
        )
      }

      function yei() {
        $.getJSON(yeiUrl, {
        })
        .done(function( json ) {
          yei_points = json.value
          document.getElementById("overlay-5").innerHTML = "Karaoke Performance Worth " + yei_points + " YEI Points!";
        })
      }



      setInterval(function(){ skipVideo(); }, 5000);
      setInterval(function(){ requests(); }, 5000);
      //setInterval(function(){ yei(); }, 5000);

    var divs = $('div[id^="overlay-"]').hide(),
    i = 0;

    (function cycle() { 

        delay = 7000;
        fade = 400;

        divs.eq(i).fadeIn(fade)
                  .delay(delay)
                  .fadeOut(fade, cycle);

        i = ++i % divs.length;

    })();

    </script>
  </body>
</html>